<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Dear {{name}},</h1>
Thank you for your investment in {{fundName}}. <br />
We wish to inform you that your additional purchase in {{fundName}} has been processed for trade date {{date}} and units are allotted to your account. <br />

We thank you for choosing to invest with us and look forward to your continuous patronage. Assuring you of our best services at all times.
</body>
</html>