<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
Dear {{name}},
Thank you for your investment in {{fundName}}.
Your redemption request in {{fundName}} has been processed with a value date of {{date}}. 

If the payout mode is Electronic Payment / Direct Credit, the redemption proceeds would be directly credited to the bank account as per the bank details provided by you. If the payout mode is Cheque, the cheque will be dispatched to you at the registered mailing address.

We thank you for choosing to invest with us and look forward to your continuous patronage. Assuring you of our best services at all times.
</body>
</html>